<div class="login-container">
  <h2>Login</h2>
  <form>
    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" type="email" />
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input id="password" type="password" />
    </div>
    <a routerLink="/ForgotPassword">ForgotPassword</a>
    <button class="login-button" [routerLink] ="['/AccountSummary']" type="submit">Login</button>
    <div class="register-link">
      Don't have an account?
      <a routerLink="/Register">Register</a>
    </div>
  </form>
</div>
