<div>
<h2>User Registeration</h2>
<h3>Aadhar card number </h3>
<p>Aadhar Card Number</p>
<input id="Aadhar" type="text" />
<p>Account Number</p>
<input id="Acctnum" type="text" />
<p>Account type</p>
<select>
    <option>Checking</option>
    <option>Savings</option>
    <option>Loan</option>
</select>
<p> Last name</p>
<input id="Lastname" type="text"/>
<p>Date of Birth</p>
<input id="DOB" type="date" />
<p>Email Address</p>
<input id="Emailid" type="" />
<p>mobile Number</p>
<input id="Mobilenum" type=""  />
<button> Register</button>
</div>